
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="robots" content="noindex">
  <title>Vue - Tables</title>
  
  
  
  <script type='text/javascript' src='/js/lib/dummy.js'></script>
  
  
  
  <link rel="stylesheet" type="text/css" href="/css/result-light.css">
  
    
      <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.10/vue.js"></script>
    
  
    
      <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    
  
    
      <script type='text/javascript' src="http://marak.com/faker.js/js/faker.js"></script>
    
  
    
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css">
    
  
  <style type='text/css'>
    
  </style>
  




<script type='text/javascript'>//<![CDATA[
window.onload=function(){
Vue.config.debug = true;
new Vue({
  el: '#app',
  data: {
    page: 1,
    page_limit: 5,
    data:[]
  },
  computed: {
  	range_start: function() {
    	return (this.page-1) * this.page_limit;
    },
    range_end: function() {
    	return this.page * this.page_limit;
    },
    page_count: function() {
    	return Math.ceil(this.data.length/this.page_limit);
    },
    pagination_range: function() {
    	var start = this.page > 3 ? this.page-3 : 1;
      var end = this.page+3 > this.page_count ? this.page_count + 1 : this.page+3;
    	return _.range(start, end);
    },
    next_page: function() {
    	return this.page + 1 > this.page_count ? 
      	this.page_count :
        this.page + 1;
    },
    prev_page: function() {
    	return this.page-1 > 1 ? this.page-1 : 1;
    },
    rowData: function() {
    	return this.data.slice(this.range_start, this.range_end);
    }
  },
  methods: {
    changePage: function(event) {
    	var el = event.target;
      var requestedPage = el.getAttribute('data-page');
      this.page = parseInt(requestedPage);
  	}
  },
  ready: function() {    
    var that = this;
    //this.selectedType = this.types[0];
    setInterval(function() {
    	var row_date = faker.date.past();
      row_date = row_date.getFullYear() + "-" + row_date.getMonth() + "-" + row_date.getDate();
      
      that.data.push({
      	id: faker.random.number(),
        date: row_date,
      	name: faker.name.findName(),
        url: faker.internet.url(),
      	moreData: faker.company.companyName()
    	});
    }, 1000);
  },
});
}//]]> 

</script>

</head>
<body>
  <div id="app">

  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Date</th>
        <th>Edit</th>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="row in rowData" v-bind:value="row.id" data-index="{{ $index }}">
        <td>{{ row.id }}</td>
        <td>{{ row.date }}</td>
        <td><a href="edit/{{ row.id }}">Edit</a></td>
        <td>{{ row.name }}</td>
        <td>{{ row.moreData }}</td>
        <td><a href="{{ row.url }}">Link</a></td>
      </tr>
    </tbody>
  </table>
  Showing {{ range_start }} - {{ range_end }}
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous" v-on:click="changePage" data-page="{{ prev_page }}">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li v-for="n in pagination_range">
      <a href="#" v-on:click="changePage" data-page="{{ n }}">{{ n }}</a>
    </li>
    <li>
      <a href="#" aria-label="Next" v-on:click="changePage" data-page="{{ next_page }}">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
  <ul>
  </ul>
  <pre>{{ pagination_range | json }}</pre>
</div>
  
</body>

</html>

