
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="robots" content="noindex">
  <title>Vue - Tables</title>
  
  
  
  <script type='text/javascript' src='/js/lib/dummy.js'></script>
  
  
  
  <link rel="stylesheet" type="text/css" href="/css/result-light.css">
  
    
      <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.10/vue.js"></script>
    
  
    
      <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    
  
    
      <script type='text/javascript' src="http://marak.com/faker.js/js/faker.js"></script>
    
  
    
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css">
    
  
  <style type='text/css'>
    
  </style>
</head>
<body>
  <div id="app">
  <div class="row">
    <div class="col-sm-6">
      Show: 
      <select v-model="page_limit" v-bind:value="page_limit">
        <option v-for="limit in page_limit_options" v-bind:value="limit">{{ limit }}</option>
      </select>
    </div> 
    <div class="col-sm-6">
      Search: <input type="text" v-model="filter_text" />
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Date</th>
        <th>Edit</th>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="row in rowData" v-bind:value="row.id" data-index="{{ $index }}">
        <td>{{ row.id }}</td>
        <td>{{ row.date }}</td>
        <td><a href="edit/{{ row.id }}">Edit</a></td>
        <td>{{ row.name }}</td>
        <td>{{ row.moreData }}</td>
        <td><a href="{{ row.url }}">Link</a></td>
      </tr>
    </tbody>
  </table>
  Showing {{ range_start }} - {{ range_end }}
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous" v-on:click="changePage" data-page="{{ prev_page }}">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li v-for="n in pagination_range">
      <a href="#" v-on:click="changePage" data-page="{{ n }}">{{ n }}</a>
    </li>
    <li>
      <a href="#" aria-label="Next" v-on:click="changePage" data-page="{{ next_page }}">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
  <ul>
  </ul>
  <pre>{{ $data | json }}</pre>
</div>
<script type='text/javascript' src="app.js"></script>
  
</body>

</html>

